/****** Variables ***********/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

/****** General ***********/
.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.grid-container {
  display: grid;
  width: 100%;
  max-width: 1440px;
  padding: 0 3.12rem;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.section-title {
  margin: 0;
  font-size: 1.3rem;
}

.card {
  background-color: white;
  border-radius: 1.25rem;
  padding: 0.3rem;
  filter: drop-shadow(0rem 0.15rem 0.9rem rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
}

.card__subtitle {
  font-size: 0.87rem;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/
.flex_head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.7rem;
  background-color: white;
}

.logo {
  width: 4rem;
  height: auto;
  padding: 0;
  margin: 0;
}

.navigation ul {
  margin: 0;
  padding: 0;
  color: black;
  padding-bottom: 3rem;
}

.navigation ul li {
  display: inline-block;
  margin-right: 2rem;
  position: relative;
}

.navigation ul li a {
  cursor: default;
}

.navigation ul li a:hover {
  color: var(--main-color);
}

.navigation ul li::before {
  content: "";
  position: absolute;
  top: -1.7rem;
  left: -0.1rem;
  width: calc(100% + 0.5rem);
  height: 0.2rem;
  background-color: var(--main-color);
  transform: scaleX(0);
}

.navigation ul li:hover::before {
  transform: scaleX(1);
}

/****** Zone de recherche ***********/
h1 {
  margin-bottom: 0.63rem;
}

h2 {
  font-size: 1.1rem;
}

/* Recherche */
.recherche p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.barre_de_recherche {
  display: flex;
  justify-content: flex-start;
  margin-left: -0.2rem;
}

.barre_de_recherche {
  display: flex;
  width: 22rem;
  margin-bottom: 0.65rem;
}

.fa-location-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  background-color: var(--main-bg-color);
  border-radius: 0.93rem 0 0 0.93rem;
  color: black;
}

.recherche input {
  width: 100%;
  text-align: center;
  border-top: 0.12rem solid var(--main-bg-color);
  border-bottom: 0.12rem solid var(--main-bg-color);
  border-left: 0.12rem solid var(--main-bg-color);
}

.recherche input::placeholder {
  width: 100%;
  font-weight: 700;
  font-size: larger;
  color: black;
}

.barre_de_recherche button {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  border-radius: 0 0.93rem 0.93rem 0;
  background-color: var(--main-color);
  border-color: transparent;
}

.barre_de_recherche button i {
  display: none;
}

/* Filtres */

.section_filtres {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  gap: 0.93rem;
}

.pas_un_titre {
  padding-right: 0.93rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.boutons {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  align-items: center;
  gap: 1rem;
}

.bouton_filtre {
  display: flex;
  align-items: center;
  border-radius: 1.55rem;
  height: 3.12rem;
  border: 0.12rem solid var(--main-bg-color);
  background-color: white;
  font-size: 1rem;
  padding: 0 1.15rem;
}

.bouton_filtre i {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.bouton_filtre:hover {
  background-color: var(--filter-bg-color);
}

/* Info */
.info {
  display: flex;
  padding-top: 1.5rem;
}

.bulle_i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.62rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.05rem solid var(--main-bg-color);
  margin-right: 0.92rem;
}

/****** Hébergements et populaires ***********/
.hebergements-and-populaires {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  width: 98%;
}

.hebergements,
.populaires {
  background-color: var(--main-bg-color);
  border-radius: 0.93rem;
  padding: 1rem;
}

/* Hébergements */
.hebergements {
  display: flex;
  width: 65%;
  flex-wrap: wrap;
}

.hebergements .section-title {
  padding: 1rem;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 14rem;
}

.hebergements-cards img {
  border-radius: 0.93rem 0.93rem 0 0;
  width: 100%;
  height: 7rem;
}

.hebergements-cards .card-content {
  width: 67%;
  padding-left: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  white-space: nowrap;
  margin: 0.7rem 0rem;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  padding: 0;
}

.hebergements-cards .card-rating {
  margin: 0.3rem 0rem;
}

.afficher_plus {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
}

/** Populaires **/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 1.8rem;
}

.populaires-cards img {
  width: 33%;
  height: 9rem;
  border-radius: 0.93rem 0 0 0.93rem;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 0.2rem;
}

/****** Activités **********/

.activites {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-bottom: 3rem;
}

.activites .section-title {
  margin-top: 5rem;
  margin-left: 1rem;
}

.activites-cartes {
  display: flex;
  justify-content: space-between;
  margin-top: 2.3rem;
  gap: 2rem;
}

.activites-cartes .card {
  padding: 0;
}

.activites-cartes img {
  object-fit: cover;
  width: 18.5rem;
  height: 20rem;
  border-radius: 1.25rem 1.25rem 0 0;
}

.activites-cartes .card-title {
  padding: 0 0.5rem 1rem 0.5rem;
}

/****** Footer ***********/

.flex_footer {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.flex_footer nav {
  width: 33%;
  padding: 1.2rem 0 1.2rem 1.2rem;
  white-space: nowrap;
}

.flex_footer h3 {
  margin-top: 0.3rem;
  margin-bottom: 0;
}

.flex_footer ul {
  padding: 0;
  color: black;
}

.flex_footer ul li {
  margin-top: 0.7rem;
}

/****** Media queries ***********/

/********** Medium devices (tablets, less/equal than 1024px) *********/

@media screen and (max-width: 1024px) {
  /* General version tablette */
  .grid-container {
    width: 95%;
    padding: 0;
  }

  /* Recherche version tablette */

  .section_filtres {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .bouton_filtre {
    gap: 1rem;
  }

  /* Hébergements et populaires version tablette */

  .hebergements-and-populaires {
    flex-direction: column;
    gap: 3rem;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
  }

  .card-title {
    font-size: 0.9rem;
  }

  .card-subtitle {
    font-size: 0.8rem;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 32%;
  }

  /* Activités version tablette */

  .activites {
    width: 100%;
  }

  .activites-cartes .card {
    height: 100%;
    width: 12rem;
  }

  .activites-cartes img {
    height: 12rem;
    width: 100%;
  }

  /* Footer version tablette */

  .flex_footer {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    width: 102%;
    align-self: stretch;
  }

  .flex_footer nav {
    width: 33%;
    margin-top: 0;
    white-space: nowrap;
  }
}

/************ Small devices (phones, less than 768px) ************0*/

@media screen and (max-width: 768px) {
  .grid-container {
    padding: 0;
    box-sizing: border-box;
  }

  body {
    justify-content: flex-start;
  }

  /* Header version mobile */

  .flex_head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 5.5rem;
    height: auto;
    margin: 1.5rem;
  }

  .navigation {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    border-top: none;
    margin: 0;
    gap: 0;
  }

  .navigation ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.875rem;
  }

  .navigation ul li {
    flex-grow: 1;
    text-align: center;
    position: relative;
  }

  .navigation ul li a {
    padding: 0.93rem;
    border-bottom: 0.13rem solid var(--main-bg-color);
    width: 100%;
    display: block;
  }

  .navigation ul li:hover::before,
  .navigation ul li:focus::before {
    transform: scaleX(0);
  }

  .navigation ul li:hover a,
  .navigation ul li:focus a {
    padding: 0.93rem;
    border-bottom-color: var(--main-color);
    width: 100%;
    display: block;
  }

  /* Zone de recherche version mobile */

  /* Recherche version mobile */

  h1 {
    font-size: 1.375rem;
  }

  .recherche {
    font-size: 1rem;
    padding: 0 1.25rem;
  }

  .pas_un_titre {
    font-size: 1.3rem;
    padding-bottom: 1.3rem;
  }

  .barre_de_recherche button {
    border: 0.5rem;
  }

  .barre_de_recherche form {
    width: 98%;
  }

  .fa-location-dot {
    width: 3.5rem;
  }

  .barre_de_recherche input {
    text-align: left;
    padding-left: 2rem;
    font-size: 0.9rem;
    border-right: transparent;
  }

  .barre_de_recherche button span {
    display: none;
  }

  .barre_de_recherche button i {
    display: flex;
    color: white;
  }

  /* Filtres version mobile */

  .section_filtres {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .pas_un_titre {
    font-size: 1.125rem;
  }

  .boutons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    padding: 2.188rem 0;
  }

  .boutons div:first-child {
    order: -1;
    width: 100%;
    text-align: left;
  }

  .bouton_filtre {
    width: 48%;
    margin-bottom: 0.5rem;
    justify-content: center;
    font-size: 0.875rem;
    gap: 1rem;
  }

  .info {
    font-size: 1rem;
    padding-top: 0;
  }

  /* Hébergements et populaires version mobile */

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .populaires-cards .card-title,
  .populaires-cards .card-subtitle {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 1.375rem;
  }

  /* Populaires version mobile */

  .populaires {
    width: 100%;
    margin-top: 0.9rem;
    background-color: var(--main-bg-color);
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
  }
  .populaires-cards .card {
    margin-top: 0.938rem;
  }
  .populaires-cards a {
    width: 100%;
  }

  /* Hébergements version mobile */

  .hebergements {
    width: 100%;
    background-color: white;
  }

  .hebergements-cards img {
    height: 7.75rem;
  }

  .hebergements-cards .card {
    width: 98%;
    margin: 1rem 0;
    gap: 0;
  }

  .hebergements-cards a {
    width: 100%;
  }

  .hebergements-cards .card-rating {
    margin: 0.3rem 0 0.938rem 0;
  }

  /* Activités version mobile */

  .activites {
    width: 98%;
    padding-left: 1.875rem;
  }

  .activites .section-title {
    margin-top: 2.188rem;
    margin-left: 0;
  }

  .activites .activites-cartes {
    width: 93%;
    flex-direction: column;
    gap: 0.93rem;
  }

  .activites-cartes .card {
    width: 98%;
  }

  .activites img {
    height: 8.813rem;
  }

  .activites-cartes a {
    width: 100%;
  }

  /* Footer version mobile */

  .flex_footer {
    flex-direction: column;
    width: 105%;
  }

  .flex_footer h3 {
    font-size: 1.125rem;
  }
}
